In [1]:
import pandas as pd
import csv

In [2]:
jun = pd.read_csv("Resources/202306-citibike-tripdata.csv", low_memory=False)

In [3]:
jul = pd.read_csv("Resources/202307-citibike-tripdata.csv", low_memory=False)

In [4]:
aug = pd.read_csv("Resources/202308-citibike-tripdata.csv", low_memory=False)

In [5]:
sep = pd.read_csv("Resources/202309-citibike-tripdata.csv", low_memory=False)

In [6]:
octo = pd.read_csv("Resources/202310-citibike-tripdata.csv", low_memory=False)

In [7]:
nov = pd.read_csv("Resources/202311-citibike-tripdata.csv", low_memory=False)

In [8]:
dec = pd.read_csv("Resources/202312-citibike-tripdata.csv", low_memory=False)

In [23]:
q4 = [octo, nov, dec]

In [24]:
all = pd.concat(q4, ignore_index=True)

In [25]:
all.dropna(subset=['start_station_id', 'start_lat', 'start_lng', 'end_station_id', 'end_lat', 'end_lng'])

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F01D2D54E9E60D6E,classic_bike,2023-10-03 02:48:38,2023-10-03 02:48:40,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677223,-73.922792,40.677170,-73.922850,casual
1,CAE4EDBEA07001BD,classic_bike,2023-10-11 16:03:17,2023-10-11 16:45:26,Central Park West & W 85 St,7354.01,Central Park West & W 85 St,7354.01,40.784760,-73.969862,40.784760,-73.969862,casual
2,FDC34BAD31193E07,classic_bike,2023-10-11 19:57:13,2023-10-11 20:20:10,Hicks St & Montague St,4645.09,5 St & 6 Ave,3874.01,40.694974,-73.995936,40.670484,-73.982090,casual
3,DFEA5E65AE91CE2A,classic_bike,2023-10-10 20:18:22,2023-10-10 20:18:37,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,40.691669,-74.000139,40.691652,-73.999979,casual
4,48299D8BE9B55255,classic_bike,2023-10-17 16:26:58,2023-10-17 16:34:27,E 41 St & Madison Ave (SE corner),6432.10,E 58 St & 3 Ave,6762.02,40.751845,-73.979585,40.760958,-73.967245,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8985070,796BC679FFED8FB8,classic_bike,2023-12-14 10:01:36,2023-12-14 10:02:31,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,40.727791,-73.985649,40.728419,-73.987140,member
8985071,A8FFE1251749A510,classic_bike,2023-12-14 10:13:42,2023-12-14 10:14:27,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,40.727791,-73.985649,40.728419,-73.987140,member
8985072,AC14339B505A0000,classic_bike,2023-12-14 10:09:56,2023-12-14 10:10:44,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,40.727791,-73.985649,40.728419,-73.987140,member
8985073,FC3702FD4319EC93,classic_bike,2023-12-14 10:03:47,2023-12-14 10:04:36,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,40.727791,-73.985649,40.728419,-73.987140,member
8985074,930E4226552E06D8,classic_bike,2023-12-17 13:15:50,2023-12-17 13:16:46,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,40.727791,-73.985649,40.728419,-73.987140,member

In [26]:
# Group by start_station_id and calculate mode for start_lat and start_lng
start_df = all.groupby('start_station_id')[['start_lat', 'start_lng']].agg(lambda x: x.mode().iat[0]).reset_index()

# Group by end_station_id and calculate mode for end_lat and end_lng
end_df = all.groupby('end_station_id')[['end_lat', 'end_lng']].agg(lambda x: x.mode().iat[0]).reset_index()

In [27]:
all.drop(columns=['start_lat', 'start_lng', 'end_lat', 'end_lng'])

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
0,F01D2D54E9E60D6E,classic_bike,2023-10-03 02:48:38,2023-10-03 02:48:40,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,casual
1,CAE4EDBEA07001BD,classic_bike,2023-10-11 16:03:17,2023-10-11 16:45:26,Central Park West & W 85 St,7354.01,Central Park West & W 85 St,7354.01,casual
2,FDC34BAD31193E07,classic_bike,2023-10-11 19:57:13,2023-10-11 20:20:10,Hicks St & Montague St,4645.09,5 St & 6 Ave,3874.01,casual
3,DFEA5E65AE91CE2A,classic_bike,2023-10-10 20:18:22,2023-10-10 20:18:37,Atlantic Ave & Furman St,4614.04,Atlantic Ave & Furman St,4614.04,casual
4,48299D8BE9B55255,classic_bike,2023-10-17 16:26:58,2023-10-17 16:34:27,E 41 St & Madison Ave (SE corner),6432.10,E 58 St & 3 Ave,6762.02,casual
...,...,...,...,...,...,...,...,...,...
8985070,796BC679FFED8FB8,classic_bike,2023-12-14 10:01:36,2023-12-14 10:02:31,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,member
8985071,A8FFE1251749A510,classic_bike,2023-12-14 10:13:42,2023-12-14 10:14:27,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,member
8985072,AC14339B505A0000,classic_bike,2023-12-14 10:09:56,2023-12-14 10:10:44,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,member
8985073,FC3702FD4319EC93,classic_bike,2023-12-14 10:03:47,2023-12-14 10:04:36,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,member
8985074,930E4226552E06D8,classic_bike,2023-12-17 13:15:50,2023-12-17 13:16:46,St Marks Pl & 1 Ave,5626.13,St Marks Pl & 2 Ave,5669.10,member

In [28]:
# Merge start_df and end_df with the original DataFrame
entire_df = pd.merge(all, start_df, on='start_station_id')
entire_df = pd.merge(entire_df, end_df, on='end_station_id')

# Display the entire DataFrame
entire_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat_x,start_lng_x,end_lat_x,end_lng_x,member_casual,start_lat_y,start_lng_y,end_lat_y,end_lng_y
0,F01D2D54E9E60D6E,classic_bike,2023-10-03 02:48:38,2023-10-03 02:48:40,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677223,-73.922792,40.67717,-73.92285,casual,40.67717,-73.92285,40.67717,-73.92285
1,F5F7B9CD0701067A,classic_bike,2023-10-04 19:29:59,2023-10-04 19:46:14,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677170,-73.922850,40.67717,-73.92285,casual,40.67717,-73.92285,40.67717,-73.92285
2,6E225AD930F0AB13,classic_bike,2023-10-01 21:25:25,2023-10-01 21:30:18,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677170,-73.922850,40.67717,-73.92285,member,40.67717,-73.92285,40.67717,-73.92285
3,0159598133EF68CC,classic_bike,2023-10-23 17:34:20,2023-10-23 17:35:52,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677170,-73.922850,40.67717,-73.92285,member,40.67717,-73.92285,40.67717,-73.92285
4,F914DCBDAEC85A14,classic_bike,2023-10-13 01:04:11,2023-10-13 01:04:18,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,40.677161,-73.922730,40.67717,-73.92285,member,40.67717,-73.92285,40.67717,-73.92285

In [29]:
new = entire_df.drop(columns=['start_lat_x','start_lng_x','end_lat_x','end_lng_x'])

In [30]:
clean = new.rename(columns={'start_lat_y':'start_lat', 'start_lng_y':'start_lng', 'end_lat_y':'end_lat', 'end_lng_y':'end_lng'})

In [31]:
clean.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual,start_lat,start_lng,end_lat,end_lng
0,F01D2D54E9E60D6E,classic_bike,2023-10-03 02:48:38,2023-10-03 02:48:40,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,casual,40.67717,-73.92285,40.67717,-73.92285
1,F5F7B9CD0701067A,classic_bike,2023-10-04 19:29:59,2023-10-04 19:46:14,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,casual,40.67717,-73.92285,40.67717,-73.92285
2,6E225AD930F0AB13,classic_bike,2023-10-01 21:25:25,2023-10-01 21:30:18,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,member,40.67717,-73.92285,40.67717,-73.92285
3,0159598133EF68CC,classic_bike,2023-10-23 17:34:20,2023-10-23 17:35:52,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,member,40.67717,-73.92285,40.67717,-73.92285
4,F914DCBDAEC85A14,classic_bike,2023-10-13 01:04:11,2023-10-13 01:04:18,Columbus Pl & Atlantic Ave,4146.02,Columbus Pl & Atlantic Ave,4146.02,member,40.67717,-73.92285,40.67717,-73.92285

In [32]:
max_lat = clean[['start_lat', 'end_lat']].max()
max_lng = clean[['start_lng', 'end_lng']].max()
min_lat = clean[['start_lat', 'end_lat']].min()
min_lng = clean[['start_lng', 'end_lng']].min()

In [33]:
print(max_lat, max_lng, min_lat, min_lng)

start_lat    40.8863
end_lat      40.8863
dtype: float64 start_lng   -73.84978
end_lng     -73.84978
dtype: float64 start_lat    40.633385
end_lat      40.633385
dtype: float64 start_lng   -74.026823
end_lng     -74.080843
dtype: float64

In [34]:
#clean.to_csv("Resources/6_month_clean.csv")

In [38]:
q4_clean = clean.drop(clean[clean['start_station_id'] == clean['end_station_id']].index)
print(len(q4_clean))

8578420

In [39]:
q4_clean.to_csv("Resources/q4_clean.csv")