In [15]:
import csv
import pandas as pd

In [16]:
df = pd.read_csv("Resources/6_mo_ny_weather.csv")

In [17]:
df.head()
print(len(df))

90339

In [18]:
df.dropna(inplace=True)

In [19]:
print(len(df))

1656

In [20]:
df.head()

,STATION,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,TAVG,TMAX,TMIN
4241,USW00004781,40.79389,-73.10181,25.4,2023-07-01,0.00,72.0,80.0,63.0
4242,USW00004781,40.79389,-73.10181,25.4,2023-07-02,0.17,74.0,82.0,71.0
4243,USW00004781,40.79389,-73.10181,25.4,2023-07-03,0.00,78.0,87.0,73.0
4244,USW00004781,40.79389,-73.10181,25.4,2023-07-04,0.03,77.0,84.0,70.0
4245,USW00004781,40.79389,-73.10181,25.4,2023-07-05,0.00,77.0,88.0,68.0

In [22]:
# Assuming you have a DataFrame called df
# Define the maximum and minimum latitude and longitude values
max_lat = 40.8863
min_lat = 40.633385
max_lng = -73.84978
min_lng = -74.086701

# Filter the DataFrame based on the latitude and longitude conditions
filtered_df = df[(df['LATITUDE'] <= max_lat) & (df['LATITUDE'] >= min_lat) & (df['LONGITUDE'] <= max_lng) & (df['LONGITUDE'] >= min_lng)]

filtered_df.head()

,STATION,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,TAVG,TMAX,TMIN
22495,USW00014732,40.77945,-73.88027,3.0,2023-07-01,0.00,76.0,83.0,71.0
22496,USW00014732,40.77945,-73.88027,3.0,2023-07-02,0.60,77.0,91.0,72.0
22497,USW00014732,40.77945,-73.88027,3.0,2023-07-03,0.37,81.0,91.0,74.0
22498,USW00014732,40.77945,-73.88027,3.0,2023-07-04,0.28,79.0,83.0,73.0
22499,USW00014732,40.77945,-73.88027,3.0,2023-07-05,0.00,80.0,94.0,71.0

In [27]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184 entries, 22495 to 22678
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATION    184 non-null    object
 1   LATITUDE   184 non-null    float64
 2   LONGITUDE  184 non-null    float64
 3   ELEVATION  184 non-null    float64
 4   DATE       184 non-null    object
 5   PRCP       184 non-null    float64
 6   TAVG       184 non-null    float64
 7   TMAX       184 non-null    float64
 8   TMIN       184 non-null    float64
dtypes: float64(7), object(2)
memory usage: 14.4+ KB

In [28]:

filtered_df['DATE'] = pd.to_datetime(filtered_df['DATE'])

# Filter the DataFrame based on the date range
q4 = filtered_df[(filtered_df['DATE'].dt.month >= 10) & (filtered_df['DATE'].dt.day >= 1) & (filtered_df['DATE'].dt.month <= 12) & (filtered_df['DATE'].dt.day <= 31)]

# Print the filtered DataFrame
q4.head()

C:\Users\nemor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,STATION,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,TAVG,TMAX,TMIN
22587,USW00014732,40.77945,-73.88027,3.0,2023-10-01,0.0,67.0,77.0,61.0
22588,USW00014732,40.77945,-73.88027,3.0,2023-10-02,0.0,71.0,79.0,65.0
22589,USW00014732,40.77945,-73.88027,3.0,2023-10-03,0.0,71.0,83.0,63.0
22590,USW00014732,40.77945,-73.88027,3.0,2023-10-04,0.0,73.0,84.0,66.0
22591,USW00014732,40.77945,-73.88027,3.0,2023-10-05,0.0,70.0,78.0,63.0

In [32]:
q4.drop(columns=['ELEVATION', 'STATION'])

       LATITUDE  LONGITUDE       DATE  PRCP  TAVG  TMAX  TMIN
22587  40.77945  -73.88027 2023-10-01  0.00  67.0  77.0  61.0
22588  40.77945  -73.88027 2023-10-02  0.00  71.0  79.0  65.0
22589  40.77945  -73.88027 2023-10-03  0.00  71.0  83.0  63.0
22590  40.77945  -73.88027 2023-10-04  0.00  73.0  84.0  66.0
22591  40.77945  -73.88027 2023-10-05  0.00  70.0  78.0  63.0
...         ...        ...        ...   ...   ...   ...   ...
22674  40.77945  -73.88027 2023-12-27  0.21  44.0  48.0  43.0
22675  40.77945  -73.88027 2023-12-28  1.18  49.0  52.0  47.0
22676  40.77945  -73.88027 2023-12-29  0.01  50.0  56.0  46.0
22677  40.77945  -73.88027 2023-12-30  0.00  45.0  47.0  40.0
22678  40.77945  -73.88027 2023-12-31  0.00  42.0  44.0  40.0

[92 rows x 7 columns]

In [33]:
q4.to_csv("Resources/q4_weather.csv")